{% extends 'base.html' %}

{% set active_page = 'jobs' %}

{% block body %}
<div class="container-fluid">
    <div class="container text-center">
        <h2>Job Postings</h2>
    </div>

    <div class="container col-6">
        <form action="" class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Type a Role to Begin..." aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>  
        </form>
    </div>

    <div class="container">
        {% for item in range(0, jobs|length) %}
            {% include 'jobPosting.html' %}
        {% endfor %}
    </div>

    <div class="container text-center">
        <button type="button" class="btn btn-outline-secondary">Prev</button>
        <button type="button" class="btn btn-outline-secondary">Next</button>
    </div>

</div>

{% endblock %}