{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="container text-center">
        <h2>Application Successful</h2>
        <p><i>Your application for the role of <strong>{{job['title']}}</strong> has been submitted for review.</i></p>    
    </div>

    <div class="container">
        <strong>Full Name</strong>
        <div class="mb-3">{{application['firstName']}} {{application['lastName']}}</div>

        <strong>Email</strong>
        <div class="mb-3">{{application['email']}}</div>

        {% if application['linkedin'] != "" %}
        <strong>LinkedIn Profile</strong>
        <div class="mb-3">{{application['linkedin']}}</div>
        {% endif %}

        {% if application['address'] != "" %}
        <strong>Address</strong>
        <div class="mb-3">{{application['address']}}</div>
        {% endif %}

        <strong>Resume URL</strong>
        <div class="mb-3">{{application['resume']}}</div>
    </div>


    <p class="text-center"><a href="/jobs">Go back to jobs</a></p>
</div>

{% endblock %}