{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="container text-center">
        <h4>We are looking for</h4>
        <h2>{{ job.title }}</h2>
    </div>

    <div class="container">
        <p>To be assigned at <strong>{{job.location}}</strong></p>
        {% if job.salary != None %}
        <p>With starting salary of <strong>{{job.currency}}{{"{:,}".format(job.salary)}}/month</strong></p>
        {% else %}
        <p>With salary negotiable upon interview</p>
        {% endif %}
    </div>

    <div class="container">
        <h4>Responsibilities:</h4>
        <ul>
            {% for line in job.responsibilities.split("\n") %}
            <li class="mb-3">{{ line }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container">
        <h4>Requirements:</h4>
        <ul>
            {% for line in job.requirements.split("\n") %}
            <li class="mb-3">{{ line }}</li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}