<div class="job-postings">
    <div class="job-posting">
        <h4>{{jobs[item].title}}</h4>
        {% if jobs[item].salary != None %}
            <p class="job-details">Location: {{jobs[item].location}} | Salary:  {{jobs[item].currency}} {{"{:,}".format(jobs[item].salary)}} /mo.</p> 
        {% else %}
            <p class="job-details">Location: {{jobs[item].location}} | Salary: not listed</p>
        {% endif %}
    </div>
    <div>
        <a href="/job/{{jobs[item].id}}"
            type="button" class="btn btn-outline-primary">Apply now</a>
    </div>
</div>